.name, .price, .photo, .description, .additional{
    height: 40px;
    width: 220px !important;
    border-radius: 6px;
    border: 1px solid #b99d61;
    font-family: 'Roboto', sans-serif !important;
    padding: 15px;
    box-shadow: none;
    outline: none;
    margin-bottom: 8px;
}
.name::placeholder, .price::placeholder,
.photo::placeholder, .description::placeholder, .additional::placeholder{
    color: #b99d61;
}
.type{
    background: #b99d61 !important;
    width: 220px !important;
    margin-bottom: 8px;
    border: none !important;
    outline: none !important;
}
.type:hover, .type:focus, .type:active{
    background: #b99d61 !important;
}