.cart_box {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 20px;
}

.cart_img {
    width: 100px;
    height: 100px;
    margin-right: 25px;
    border-radius: 5%;
    object-fit: cover;
}

.name_amount{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.name {
    font-family: 'Roboto', sans-serif;
    /* font-weight: bolder; */
    font-size: 15px;
    width: 150px;
    height: 70px;
}

.price{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    margin-right: 110px;
}

.btn_delete, .btn_increase, .btn_decrease{
    width: 25px;
    height: 25px;
    padding: 0 !important;
    color: black !important;
    font-weight: bold !important;
    background-color: #E8D9B5 !important;
    border: 1px solid #E8D9B5 !important;
}
.btn_increase, .btn_decrease{
    background-color: white !important;
}

.counter_wrap{
    display: flex;
    justify-content: space-between;
    width: 70px;
}