* {
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 240px;
    min-height: 200px;
    align-items: center;
    width: 100%;
}
.textOnInput {
    position: relative;
}
.textOnInput label{
    color: #212529;
    position: absolute;
    top: -12px;
    left: 15px;
    padding: 2px;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    /* font-weight: bold; */
    font-size: 13px;
    display: inline-block;
    margin-bottom: .5rem;
}
.textOnInput label:after {
    content: " ";
    background-color: #fff;
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.password, .email{
    height: 40px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid #E8D9B5;
    font-family: 'Roboto', sans-serif !important;
    padding: 15px;
    box-shadow: none;
}
.password::placeholder, .email::placeholder{
    color: #E8D9B5;
}
.password:focus, .email:focus{
    outline: 1px solid #d0b97d;
}

.enter{
    color: black !important;
    background-color: #E8D9B5 !important;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 1px;
    font-weight: bold !important;
    width: 150px;
    border: 1px solid #E8D9B5 !important;
    border-radius: 6px;
}
.register{
    color: black !important;
    background-color: #E8D9B5 !important;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 1px;
    font-weight: bold !important;
    width: 210px;
    border: 1px solid #E8D9B5 !important;
    border-radius: 6px;
}