.cart{
    border: 3px solid #E8D9B5;
    display: flex;
    box-sizing: border-box;
    margin: 10px auto;
    justify-content: space-between;
    border-radius: 6px;
    width: 750px;
    height: auto;
    padding: 30px;
}
.column_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}
.column_1 .title{
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
    font-size: 30px;
}
.column_2{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    width: 45%;
}
.column_2 .title{
    /* font-family: 'PT Serif', serif; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Ubuntu Condensed', sans-serif; */
    /* font-weight: bold; */
    font-size: 30px;
    letter-spacing: 1px;
}

.payment_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
}
.card_additional{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card, .owner, .expiration, .cvv{
    height: 40px;
    border-radius: 6px;
    border: 1px solid #E8D9B5;
    font-family: 'Roboto', sans-serif !important;
    padding: 15px;
    box-shadow: none;
}
.card::placeholder, .owner::placeholder, .expiration::placeholder, .cvv::placeholder{
    color: #E8D9B5;
}
.card, .owner{
    width: 250px;
}
.expiration, .cvv{
    width: 110px;
}
.pay{
    color: black !important;
    background-color: #E8D9B5 !important;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 1px;
    font-weight: bold !important;
    width: 100%;
    border: 1px solid #E8D9B5 !important;
}

.textOnInput {
    position: relative;
}
.textOnInput label {
    position: absolute;
    top: -12px;
    left: 15px;
    padding: 2px;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    display: inline-block;
    margin-bottom: .5rem;
}
.textOnInput label:after {
    content: " ";
    background-color: #fff;
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.meal_list{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
}
.line{
    width: 90%;
    height: 2px;
    background-color: #E8D9B5;
}
.total{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.total_header{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
.total_price{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
.total_price::after{
    content: ' \20BD';
}