.drink{
    width: 650px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 2px #404B51 dotted;
    font-size: 18px;
    line-height: 1;
}
.name{
    padding-right: 5px;
    color: #404B51;
}
.price{
    float: right;
    padding-left: 10px;
    color: #d0b97d;
}
.name, .price{
    background: white;
    position: relative;
    bottom: -7px;
}
.counter_wrap {
    float: right;
    margin: 0 25px;
}
.counter_wrap Button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 2em;
    height: 2em;
    border: 1px solid #d0b97d;
    border-radius: 7px;
    color: #d0b97d;
    background-color: #fff;
}
.counter_wrap Button:hover {
    color: #fff;
    background-color: #c4890a;
}
.counter_wrap Button:disabled {
    opacity: 0.5;
    color: #8e3a16;
    background-color: #fff;
    cursor: default;
}